/.angular/cache
/bazel-out
/connect.lock
/coverage
/cypress/videos/
/cypress/screenshots/
/dist
/libpeerconnection.log
/node_modules
/out-tsc
/temp
/tmp
/typings
_SpecRunner.html
__benchmarks__
!.devcontainer/README.md
!.devcontainer/recommended-devcontainer.json
!.devcontainer/recommended-Dockerfile
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*~
*.csv
*.dat
*.gz
*.iml
*.launch
*.lcov
*.local
*.log
*.njsproj
*.ntvs*
*.orig
*.out
*.pid
*.pid.lock
*.pyc
*.seed
*.sln
*.sublime-project
*.sublime-workspace
*.suo
*.sw?
*.sw*
*.swo
*.swp
*.tgz
*.tsbuildinfo
._*
.bazelrc.user
.build-analytics
.c9/
.cache
.class
.classpath
.devcontainer
.docusaurus
.DS_Store
.DS_Store?
.dynamodb
.eslintcache
.env
.env.development.local
.env.local
.env.*.local
.env.test.local
.env.production.local
.env.local
.flowconfig
.fusebox
.git
.grunt
.hg
.history/*
.husky
.idea/
.idea/workspace.xml
.lock
.lock-wscript
.log
.module-cache
.netlify
.next
.ng-dev.user*
.node_repl_history
.notes.md
.npm
.npmrc
.nuxt
.nvimrc
.nyc_output
.o
.parcel-cache
.pnp.*
.pnpm-debug.log*
.project
.pyc
.rpt2_cache
.rts2_cache_cjs
.rts2_cache_es
.rts2_cache_umd
.sass-cache/
.serverless
.settings/
.Spotlight-V100
.stylelintcache
.svn
.temp
.tern-port
.tmp
.Trashes
.vimrc
.vscode/*
.vscode-test
.vuepress/dist
.wafpickle-N
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.yarn-integrity
benchmarks/graphs
bin
bower_components
build
build/Release
chrome-user-data
config.gypi
dist-ssr
docs/_book
ehthumbs.db
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
functions
integration
jspm_packages
lerna-debug.log*
lib-cov
logs
month.txt
npm-debug.log*
out
package-lock.json
packages
pids
pnpm-debug.log*
pubspec.lock
remote-repo
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
results
scripts/flow/*/.flowconfig
target
test
testem.log
Thumbs.db
web_modules
yarn-debug.log*
yarn-error.log*
yarn.lock