@import url('http://fonts.cdnfonts.com/css/homer-simpson-revised')
   
.app
    margin: 50px
    & h1
        color: #990000
        font-family: 'Homer Simpson Revised', sans-serif
        font-size: 2rem
        text-align: center
    & input
        display: block
        margin: 0 auto
        &:focus::placeholder
            color: transparent

.cards
    display: flex
    flex-wrap: wrap
    margin: 30px